.spinner_bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 1px solid transparent;
  border-top-width: 2px;
  border-top-color: rgba(
    209,
    213,
    219,
    1
  ); /* Default color, can be overridden via props */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Default duration, can be overridden via props */
  height: 1.2rem; /* Default size, can be overridden via props */
  width: 1.2rem; /* Default size, can be overridden via props */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
